<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ORM -->
      <package
            uri="http://orm/1.0"
            class="org.framed.orm.model.OrmPackage"
            genModel="model/ORM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ORM -->
      <package
            uri="http://orm.geometry/1.0"
            class="org.framed.orm.geometry.GeometryPackage"
            genModel="model/ORM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ORM -->
      <package
            uri="http://orm.featuremodel/1.0"
            class="org.framed.orm.featuremodel.FeaturemodelPackage"
            genModel="model/ORM.genmodel"/>
   </extension>

</plugin>
