<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.standalone.transform">
	  <etlTransformation
	  	etlTransform="epsilon/ORM2CROM.etl"
	  	sourceMetaModelURI="org.framed.orm.model/model/ORM.ecore"
	  	sourceName="ORM"
	  	sourceReadOnLoad="true"
	    sourceStoreOnDisposal="false"
	    targetMetaModelURI="org.rosi.crom.metamodel/model/crom_l1_composed.ecore"
	    targetName="CROM"
	    targetReadOnLoad="false"
	    targetStoreOnDisposal="true"></etlTransformation>
   </extension>

</plugin>
