<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.framed.orm.ui.editor.ORMMultiPageEditor"
            contributorClass="org.framed.orm.ui.editor.ORMGraphicalEditorActionBarContributor"
            default="true"
            extensions="crom_dia"
            id="ORMEditor.editorID"
            name="First Role Modeling Editor">
      </editor>
   </extension>

</plugin>
