<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editPolicyEcore1 -->
      <package
            uri="http://www.example.org/editPolicyEcore1"
            class="editPolicyEcore1.EditPolicyEcore1Package"
            genModel="model/editPolicyEcore1.genmodel"/>
   </extension>

</plugin>
